<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <img src="/assets/images/logo.png">
        <ion-text color="tertiary">
          <p>San Andrés CHOLULA</p>
        </ion-text>
      </ion-col>
      <ion-col size="6" style="text-align: left;">
        <ion-text color="primary">
          <h3 color="primary">SECRETARÍA DE FOMENTO ECONÓMICO</h3>
        </ion-text>
        <ion-text color="secondary">
          <p>Ayuntamiento<br>2021-2024</p>
        </ion-text>
        
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-card mode="ios">  
    <ion-card-header>
      <ion-card-title>
        <h2>Bienvenido</h2> 
        <h3>{{ usuario.name }}</h3>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Unidades asignadas</ion-label>
          <ion-note slot="end">{{asignadas}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Unidades trabajadas</ion-label>
          <ion-note slot="end">{{trabajadas}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Unidades por visitar</ion-label>
          <ion-note slot="end">{{faltantes}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Avance</ion-label>
          <ion-note slot="end">{{porcentaje_avance}}%</ion-note>
        </ion-item>
        <ion-item>
          <ion-progress-bar type="determinate" [value]="porcentaje_progressbar" color="primary"></ion-progress-bar>
        </ion-item>  
      </ion-list>

    </ion-card-content>
  </ion-card>


<!--<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
      <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="addPhotoToGallery()">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
-->




</ion-content>
