<ion-header>
  <ion-toolbar color="dark">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="avances">
        <ion-icon name="map"></ion-icon>
        <ion-label>Avances</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="notificaciones">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="cuenta">
        <ion-icon name="person"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
