<ion-content class="ion-padding">
  <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
    <ion-row>
        <ion-col size="12" class="ion-text-center">
          <img src="/assets/images/logo.png">
          <ion-text color="tertiary">
            <p color="dark">OSESACH APP v1.0</p>
          </ion-text>
        </ion-col>
      </ion-row>
      <h2 class="ion-text-center">Login</h2>
      <ion-input name="email" type="email" [(ngModel)]="loginUser.email" placeholder="Email" required></ion-input>
      <ion-input name="password" type="password" [(ngModel)]="loginUser.password" placeholder="Password" required></ion-input><br>
      <ion-button size="block" type="submit" color="tertiary" shape="round" shape="round" color="dark"> Login </ion-button>
      <ion-text color="secondary" class="ion-text-center">
        <p>OSESACH APP<br>2021-2024</p>
      </ion-text>
  </form>
</ion-content>
<ion-footer style="background: white;" class="ion-no-border">
  <ion-item>
    <small>
      <ion-label>OSESACH v0.1<small>Powered by Levcore.app</small></ion-label>
    </small>
  </ion-item>
</ion-footer>
