<ion-header>
  <ion-toolbar>
    <ion-title>Supervisor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode="ios">  
    
    <img *ngIf="existe_image==0" alt="usuario" src="/assets/images/user-mute.png" />
    <img *ngIf="existe_image==1" alt="usuario" [src]="src_image" />
    
    <ion-card-header>
      <ion-card-title>{{ persona.name }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Dirección</h2>
            <p>{{persona.address}}</p>
          </ion-label>
        </ion-item>
        <ion-item button (click)="call(persona.movil)">
          <ion-label class="ion-text-wrap">
            <h2>Móvil</h2>
            <p>{{persona.movil}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Email</h2>
            <p>{{persona.email}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Ingreso</h2>
            <p>{{persona.date_admission}}</p>
          </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-textarea placeholder="" [autoGrow]="true"
            value="{{persona.observations}}" readonly>
          </ion-textarea>
        </ion-item>
       
      </ion-list>
     
    </ion-card-content>
  </ion-card>

</ion-content>
